# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lnp
*.map
*.sct
*.dep
*.lst
*.i
*.__i
*._i
*.crf
*.sct
*.iex

# Precompiled Headers
*.gch
*.pch
*.ipch
*.tlog
*.pdb
*.idb
*.ilk
*.res
*.exe.recipe
*.log

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.db

# Executables
*.exe
*.out
*.app
*.axf
*.hex
*.bin

# Other Files
IVClock.vcxproj.FileListAbsolute.txt
.DS_Store
IVClock.build_log.htm
IVClock.htm
IVClock.hex.asm
.vs
Debug
Release
